<header class="header container-fluid">
    <div>
        <button class="btn btn-primary">Menu</button>
    </div>
    <div>
        <h3>Puntuación <span>105</span></h3>
    </div>
    <div>
        <h3>12:33</h3>
    </div>
</header>
<main>
    <section class="container-fluid tablero">
        <div class="m-auto">
            <div class="cards">
                <img src="assets/cartas/red_back.png" alt="card back" class="img-fluid" id="newCard">
            </div>
        </div>
        <div class="mazoVisible">
            <div class="cards" id="mazoVisible" value="mazo"></div>
        </div>
        <div class="m-auto"><div class="cards"></div></div>
        <div class="m-auto"><div class="cards"></div></div>
        <div class="m-auto"><div class="cards"></div></div>
        <div class="m-auto"><div class="cards"></div></div>
    </section>

    <section class="container-fluid tablero mt-5 secc2">
        <div class="m-auto"><div class="cards columns" value="0"></div></div>
        <div class="m-auto"><div class="cards columns" value="1"></div></div>
        <div class="m-auto"><div class="cards columns" value="2"></div></div>
        <div class="m-auto"><div class="cards columns" value="3"></div></div>
        <div class="m-auto"><div class="cards columns" value="4"></div></div>
        <div class="m-auto"><div class="cards columns" value="5"></div></div>
        <div class="m-auto"><div class="cards columns" value="6"></div></div>
    </section>
</main>